includes:
    - vendor/phpstan/phpstan-doctrine/extension.neon
    - vendor/phpstan/phpstan-phpunit/extension.neon
parameters:
    treatPhpDocTypesAsCertain: false
    reportUnmatchedIgnoredErrors: false
    level: 8
    paths:
        - src
        - tests
    excludePaths:
        - src/Bundle/DataGridBundle/DependencyInjection/Configuration.php
        - src/Bundle/DataSourceBundle/DependencyInjection/Configuration.php
        - tests/Bundle/DataGridBundle/Fixtures/var
        - tests/Bundle/DataSourceBundle/Fixtures/var
    ignoreErrors:
        - message: '#Property Symfony\\Component\\HttpFoundation\\Request::\$request \(Symfony\\Component\\HttpFoundation\\InputBag\) does not accept Symfony\\Component\\HttpFoundation\\ParameterBag\.#'
          path: tests/Bundle/DataGridBundle/DataGrid/EventSubscriber/BindRequestTest.php
        - message: '#Strict comparison using === between false and array will always evaluate to false\.#'
          path: src/Component/DataIndexer/DoctrineDataIndexer.php
        - message: '#Call to an undefined method Tests\\FSi\\Component\\DataGrid\\ColumnTypeExtension\\EntityValueFormatColumnOptionsExtensionTest\:\:expectError\(\)\.#'
          path: tests/Component/DataGrid/ColumnTypeExtension/EntityValueFormatColumnOptionsExtensionTest.php
        - message: "#Call to function method_exists\\(\\) with \\$this\\(Tests\\\\FSi\\\\Component\\\\DataGrid\\\\ColumnTypeExtension\\\\EntityValueFormatColumnOptionsExtensionTest\\) and 'expectError' will always evaluate to false.#"
          path: tests/Component/DataGrid/ColumnTypeExtension/EntityValueFormatColumnOptionsExtensionTest.php
        - message: '#Call to an undefined method Tests\\FSi\\Component\\DataGrid\\ColumnTypeExtension\\ValueFormatColumnOptionsExtensionTest\:\:expectError\(\)\.#'
          path: tests/Component/DataGrid/ColumnTypeExtension/ValueFormatColumnOptionsExtensionTest.php
        - message: "#Call to function method_exists\\(\\) with \\$this\\(Tests\\\\FSi\\\\Component\\\\DataGrid\\\\ColumnTypeExtension\\\\ValueFormatColumnOptionsExtensionTest\\) and 'expectError' will always evaluate to false.#"
          path: tests/Component/DataGrid/ColumnTypeExtension/ValueFormatColumnOptionsExtensionTest.php
